@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #D9C2A7, #D98B79 );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(105, 67, 59, 0.5);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #59362E;
text-align: center;
text-shadow: 1px 1px 2px #36211c63;
}

h2{
    color:#3C6D73 ;
}

p{
    text-align: justify;
}

