@charset "UTF-8";

@media print{
    html{
        font-size: 1.2em;
    }

    nav{
        display: none;
    }
}


@media screen and (min-width:769px){
    nav{
        display: block;
    }

    li{
        display: inline-block;
    }

    span#burguer{
        display: none;
    }

    main{
        width: 768px;
    }
}